<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.bryanheinz.lb.copy-safari-urls</string>
	<key>CFBundleName</key>
	<string>Copy Safari URLs</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Bryan Heinz</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>This action copies each tabs URL from the front most window of Safari to the clipboard.</string>
		<key>LBTwitter</key>
		<string>@cookie_lust</string>
		<key>LBWebsiteURL</key>
		<string>https://bryanheinz.com</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
