<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.bryanheinz.lb.battime</string>
	<key>CFBundleName</key>
	<string>battime</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Bryan Heinz</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBResult</key>
		<string>String</string>
		<key>LBSummary</key>
		<string>This action displays your laptops charge status and time left until your battery is charged or depleted.</string>
		<key>LBTwitter</key>
		<string>@cookie_lust</string>
		<key>LBWebsiteURL</key>
		<string>https://bryanheinz.com</string>
	</dict>
	<key>LBResult</key>
	<string>String</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
</dict>
</plist>
