<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.bryanheinz.lb.man</string>
	<key>CFBundleName</key>
	<string>man</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LBArgument</key>
	<string>Terminal command, string.</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>Terminal command, string.</string>
		<key>LBAuthor</key>
		<string>Bryan Heinz</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBRequirements</key>
		<string>/Applications/Preview.app</string>
		<key>LBSummary</key>
		<string>This action takes a terminal command and opens its man page in Apple's Preview.app.</string>
		<key>LBTwitter</key>
		<string>@cookie_lust</string>
		<key>LBWebsiteURL</key>
		<string>https://bryanheinz.com</string>
	</dict>
	<key>LBRequirements</key>
	<string>/Applications/Preview.app</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBScriptName</key>
			<string>default.sh</string>
		</dict>
	</dict>
</dict>
</plist>
